.split{
    height: 100%;
    position: fixed;
  }
  
  .left{
    left: 0;
    width: 30%;
    border-right: 3px solid #ddd;
  }
  
  .right{
    height: 77%;
    right: 0;
    width: 70%;
    overflow-y: scroll;
  }